section.user{
    font-weight: bolder;
    padding: 30px;
    width: 100%;
    text-align: center;
    height: 50vh;
   display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    color: #CE1069;
}
p.param2,p.paramText{
    font-size: 18px;
    color: #CE1069;
}
