main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container{
      margin: 0;
      width: 90%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
h2{
    height: 5vh;
    color: var(--mainColor);
  }
.event.one{
    height: 11vh;
   width: 100%;
    background-color: var(--mainColor);
    border: solid 1px var(--mainColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
   color: var(--textColor);
}
.event.two{
    width: 100%;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
    color: var(--mainColor);
}
.event.three{
    width: 100%;
    height: 11vh;
    border: solid 1px var(--mainColor);
    background-color: var(--mainColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
    color: var(--textColor);
}
.event.four{
   width: 100%;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
    color: var(--mainColor);
}
.event.five{
    width: 100%;
    height: 11vh;
    border: solid 1px var(--mainColor);
    background-color: var(--mainColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
    color: var(--textColor);
}
.event.six{
   width: 100%;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
    color: var(--mainColor);
}
.event.seven{
    width: 100%;
    height: 11vh;
    border: solid 1px var(--mainColor);
    background-color: var(--mainColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
    color: var(--textColor);
}
.eventImg{
    width: 20%;
    height: 11vh;
}
 p{
   justify-self: center;
}
.fal.fa-arrow-right{
    transition-timing-function: ease-in-out;
    transition-delay: 0ms;
    transition-property: all;
}
.event.one .fal.fa-arrow-right,
.event.three .fal.fa-arrow-right,
.event.five .fal.fa-arrow-right,
.event.seven .fal.fa-arrow-right
{
    justify-self: center;
    align-self: center;
    font-size: 20px;
    color: var(--textColor);
}
.event.two .fal.fa-arrow-right,
.event.four .fal.fa-arrow-right,
.event.six .fal.fa-arrow-right{
color:var(--mainColor) ;
font-size: 20px;
}
.event.one .fal.fa-arrow-right:hover,
.event.three .fal.fa-arrow-right:hover,
.event.five .fal.fa-arrow-right:hover,
.event.seven .fal.fa-arrow-right:hover{
    font-weight: bolder;
    -webkit-box-shadow: inset -1px 3px 8px 5px #fa6767, 2px 5px 16px 0px #f5f5f5, 16px -18px 5px 1px hsla(0, 100%, 100%, 0);
box-shadow: inset -1px 3px 8px 5px #fa6767, 2px 5px 16px 0px #f5f5f5, 16px -18px 5px 1px hsla(0, 0%, 100%, 0);
}
.event.two .fal.fa-arrow-right:hover,
.event.four .fal.fa-arrow-right:hover,
.event.six .fal.fa-arrow-right:hover{
    font-weight: bolder;
    -webkit-box-shadow: inset -1px 3px 8px 5px #dbdcdf, 2px 5px 16px 0px #969697, 16px -18px 5px 1px rgba(0,0,0,0);
box-shadow: inset -1px 3px 8px 5px #dbdcdf, 2px 5px 16px 0px #969697, 16px -18px 5px 1px rgba(0,0,0,0);
}
.event{
    transition-timing-function: ease-in-out;
    transition-delay: 0ms;
    transition-property: all;
}
.event:hover{
    transform: translatey(-5px);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
