@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Rubik+Mono+One&display=swap");

:root {
    --mainColor: #CE1069;
    --buttonOnHover: rgb(252, 213, 213);
    --textColor:white;

    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica, sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav{
   width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 15vh;
    align-items: center;
    font-size: 24px;
    color: var(--mainColor);
}
a.navParam{
     display: none;
}
.hamburgerMenu{
    justify-self: end;
}
.fal.fa-bars{
      color: var(--mainColor);
}
.search{
    grid-column: 5/5;
    justify-self: start;
}
.logo {
    grid-column: 3/4;
    justify-self: center;

}
.logo img{
    width: 100px;
    height: 80px;
}
.home{
     width: 100%;
    height: 100vh;
}
.hero{
    width: 100%;
    height: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heroImg{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.headline{
    position: absolute;
    top: 75%;
    left: 40%;
    font-size: 20px;
    transform: translate(-20%, -70%);
    color: var(--mainColor);
    z-index: 3;
    opacity: 0;
}
.headline1{
    position: absolute;
    top: 10%;
    left: 35%;
    font-size: 20px;
     transform: translate(-20%, -70%);
     color: var(--mainColor);
    z-index: 3;
    transform: translateX(-20px);
    transform: translateY(-10px);
}
/* h5.text{
    display: none;
} */
/* .linkDesktop {
    display: none;
} */
.sideNav {
    height: 100vh;
    width: 0px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: var(--mainColor);
    opacity: 3;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.5s;
    text-align: center;
}
   .sideNav a {
    padding: 30px 10px 10px 10px;
    text-decoration: none;
    font-size: 16px;
    color: var(--textColor);
    display: block;
    transition: 0.3s;
  }
   .sideNav a:hover {
    color:var(--textColor);
  }
 .sideNav .btnClose {
    position: absolute;
    top: 0;
    padding: 0px;
    font-size: 36px;
    margin-left: 65px;
    margin-bottom: 5px;
  }

  /*registration */
.form{
      height: 70vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 60%;
}
label{
    display: flex;
}
p.star{
    color:var(--mainColor) ;
    }
.registration{
    width: 100%;
    display: flex;
    margin-top: 7%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h2{
    margin-bottom: 8%;
}
form{
    width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
.formGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}
input.formControl{
    width: 100%;
    border-radius: 15px;
    height: 35px;
    border:solid 3px var(--mainColor) ;
}
.btn{
    background-color:var(--mainColor) ;
    color: var(--textColor);
    border: none;
    border-radius: 15px;
    width: 70%;
    height: 35px;
    transition-timing-function: ease-in-out;
    transition-delay: 0ms;
    transition-property: all;
    margin-top: 25px;
}
.btn.scroll{
    margin-top: 35px;
    width: 50%;
}
.btn:hover{
    -webkit-box-shadow: 2px 5px 16px 0px #28292b, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 2px 5px 16px 0px #28292b, 5px 5px 15px 5px rgba(0,0,0,0);
}
 /*images */
 .grid{
     height: 100vh;
     padding-top: 10%;
     padding-bottom: 10%;
     width: 90%;
     margin-left: 5% ;
     margin-right: 5%;
     display: grid;
     grid-template-columns: 1fr 1fr ;
     grid-template-rows: 1fr 1fr;
   }
.img{
     width: 100%;
     height: 100%;
     transition-timing-function: ease-in-out;
     transition-delay: 0ms;
     transition-property: all;
 }
 .img.two{
    grid-column: 2/3;
    grid-row: 2/3;
 }
 .img:hover{
    transform: translatey(-5px);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
 }
 .gridTex1,.gridTex2{
     padding-top: 40%;
     padding-bottom: 40%;
     max-width: 80%;
     color: var(--mainColor);
     font-weight: 600;
 }
/*about */
nav p{
    justify-self: center;
    grid-column: 2/5;
    color: var(--mainColor);
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about{
    display: block;
    max-width: 80%;
}
.about p{
    font-size: 16px;
    margin-bottom: 60px;
    color: var(--mainColor);
    }
.downLogo{
    width: 100px;
    height: 80px;
}
.info{
    display: none;
}
span{
    opacity: 0;
    transition: all 0.1s ease;
    transform: translateX(60px);
    transform: translateY(60px);
    display: inline-block;
}
span.fade{
    opacity: 1;
    transform: translateX(0px);
    transform: translateY(0px);
}
.slide-in {
    opacity: 1;
    animation-name: moveInLeft;
    animation-duration: 1.7s;
}
@keyframes moveInLeft {
     0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
/*top */
.topBtn {
    display: none;
    position: fixed;
    bottom: 25%;
    left: 74%;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--textColor);
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
  }
  .topBtn:hover {
    background-color: var(--buttonOnHover);
  }
